<% if (typeof page !=='undefined' && page==='profile' ) { %>
    <div class="header">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Busque aqui...">
            <img src="/assets/searchbaricon.png" alt="Buscar" class="search-icon">
        </div>
        <div class="profile-section">
            <a href="/dashboard" class="home-link">
                <img src="/assets/homeheader.png" alt="Home" class="home-icon-img">
                <div class="home-text">Home</div>
            </a>
            <img src="/assets/logoheader.png" alt="IN ORDER" class="logo-header">
        </div>
    </div>
    <% } else { %>
        <div class="cabecalho">
            <div class="busca-container">
                <input type="text" class="busca-input" placeholder="Busque aqui...">
                <img src="/assets/searchbaricon.png" alt="Buscar" class="busca-icone">
            </div>
            <div class="secao-perfil">
                <a href="/profile" class="link-perfil">
                    <img src="/assets/perfilimg.png" alt="Perfil" class="imagem-perfil">
                    <div class="texto-perfil">Perfil</div>
                </a>
                <img src="/assets/logoheader.png" alt="IN ORDER" class="logo-cabecalho">
            </div>
        </div>
        <% } %>