<div class="abas-navegacao">
    <a href="/login" class="aba-navegacao <%= active === 'login' ? 'ativa' : '' %>">Login</a>
    <a href="/sobre" class="aba-navegacao <%= active === 'sobre' ? 'ativa' : '' %>">Sobre</a>
</div>