<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        /* Estilos essenciais para a página Sobre */
        .imagem-fundo-login {
            height: 550px;
            display: block;
            margin: 36px auto 0 302px;
            width: 1150px;
        }

        .conteudo {
            padding-bottom: 50px;
        }
    </style>
</head>

<body>
    <%- include('../components/nav-auth', { active: 'sobre' }) %>
        <div class="conteudo">
            <div class="imagem-fundo">
                <img src="/assets/loginsobrebgbox.png" alt="Fundo Login" class="imagem-fundo-login">
            </div>
            <div class="secao-proposito">
                <img src="/assets/arrowsobre.png" alt="Ícone Alvo" class="icone-alvo">
                <span class="texto-proposito">Propósito</span>
            </div>
            <div class="secao-logo">
                <div class="logosobre-container">
                    <img src="/assets/sobrelogo.png" alt="IN ORDER Logo" class="logo-image">
                </div>
            </div>
            <div class="secao-descricao">
                <p class="texto-descricao">
                    Visamos desenvolver uma plataforma web voltada para o gerenciamento e a divulgação de eventos. A
                    aplicação permitirá que usuários possam visualizar informações sobre os eventos disponíveis, se
                    inscrever de forma prática e acompanhar suas participações. Também oferecerá ferramentas para que os
                    organizadores administrem os eventos com facilidade, contribuindo para uma melhor organização e
                    planejamento.                </p>
            </div>
            <div class="secao-social">
                <a href="https://linkedin.com/in/inorder" class="link-social" target="_blank">
                    <img src="/assets/linkedinsobre.png" alt="LinkedIn" class="icone-social">
                    <span>linkedin.com/in/inorder</span>
                </a>
                <a href="https://github.com/jjalmeidadev" class="link-social" target="_blank">
                    <img src="/assets/githubsobre.png" alt="GitHub" class="icone-social">
                    <span>github.com/jjalmeidadev</span>
                </a>
            </div>
        </div>
        <%- include('../components/footer') %>
</body>

</html>