<%- include('../components/nav-auth', { active: 'sobre' }) %>
    <div class="conteudo">
        <div class="imagem-fundo"></div>
        <div class="secao-proposito">
            <img src="/assets/image-9gdfln3tY1e4OF9csNv3bC5Cja5XgS.png" alt="Ícone Alvo" class="icone-alvo">
            <span class="texto-proposito">Propósito</span>
        </div>
        <div class="secao-logo">
            <div class="logo-container">
                <img src="/assets/image-5BzYQpqUPJAraLFmBn0X3QgFUos6tk.png" alt="IN ORDER Logo" class="logo-image">
            </div>
        </div>
        <div class="secao-descricao">
            <p class="texto-descricao">
                Visamos desenvolver uma plataforma web voltada para o gerenciamento e a divulgação de eventos. A
                aplicação permitirá que usuários possam visualizar informações sobre os eventos disponíveis, se
                inscrever de forma prática e acompanhar suas participações. Também oferecerá ferramentas para que os
                organizadores administrem os eventos com facilidade, contribuindo para uma melhor organização e
                planejamento.
            </p>
        </div>
        <div class="secao-social">
            <a href="https://linkedin.com/in/inorder" class="link-social" target="_blank">
                <img src="/assets/image-TDw2ogfGIhGYvaVf8cSo04X1BlcVPh.png" alt="LinkedIn" class="icone-social">
                <span>linkedin.com/in/inorder</span>
            </a>
            <a href="https://github.com/jjalmeidadev" class="link-social" target="_blank">
                <img src="/assets/image-UkqwwaY0oTja6OalRjFOryGmt53uoW.png" alt="GitHub" class="icone-social">
                <span>github.com/jjalmeidadev</span>
            </a>
        </div>
    </div>
    <%- include('../components/footer') %>